<h2>Edit Post</h2>

<%= render('layouts/error', :object => @post) %>

<form method='post' action="/posts/<%= @post.id %>/" autocomplete="off">
  <input type="hidden" name="_method" value="patch" />
  <label for='title'>Title</label>
  <input id='title' name='post[title]' value="<%= @post.title %>" />
  <hr>
  <p>Content:</p>
  <p>
    <textarea id='content' name='post[content]'><%= @post.content %></textarea>
  </p>
  <button>Update</button>
</form>
