<h2>Create a new blog post</h2>

<%= render('layouts/error', :object => @post) %>

<form method='post' action="/posts" autocomplete="off">
  <label for='title'>Title</label>
  <input id='title' name='post[title]' />
  <hr>
  <p>Content:</p>
  <p>
    <textarea id='content' name='post[content]'></textarea>
  </p>
  <button>Create</button>
</form>
