<h2>Create a new blog post</h2>

<form method='post' action="/posts">
  <label for='title'>Title</label>
  <input id='title' name='title' />
  <p>Body: </p>
  <p>
    <textarea id='content' name='content'></textarea>
  </p>
</form>
